 <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-10">

            <h3 class="page-header"><i class="fa fa-files-o"></i>FILES</h3>
           
          </div>
          <div class="col-lg-2">
               <a class="btn btn-primary page-header" href="/product/{{productId}}/file-view"> VIEW FILES</a>
          </div>
        </div>
        <!-- Form validations -->
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
               Manage Files
              </header>
              <div class="panel-body">
                <div class="form">


                


                  <form class="form-validate form-horizontal" method="post"  action="/product/{{fileDetails.productId}}/files-assign/{{fileDetails._id}}/files-update-duration">
                           <input type="hidden" name="productId" value="{{fileDetails.productId}}">
                           <input type="hidden" name="fileId" value="{{fileDetails._id}}">
             
                <div class="form-group ">
                      <label for="cname" class="control-label col-lg-2">File<span class="required">*</span></label>
                      <div class="col-lg-10">
                         
                            {{#if fileDetails.isImage}}
                           <img style="width:400px;height:200px;" src="../../../{{fileDetails.url}}" />
                           {{else}}
                           <video id="vid" width="400" height="200" controls>
                              <source src="../../../{{fileDetails.url}}" type="video/mp4">
                              Your browser does not support the video tag.
                            </video>
                           {{/if}}
                      </div>
                    </div>
                    
                    <div class="form-group ">
                      <label for="curl" class="control-label col-lg-2">Device</label>
                      <div class="col-lg-10">
                        <select class="form-control" name="deviceId" >
                          <option value="">Select Device</option>
                          {{#each deviceList}}
                           <option value="{{_id}}">{{deviceName}}</option>
                           {{/each}}
                        </select>
                      </div>
                    </div>

                    <div class="form-group ">
                      <label for="cname" class="control-label col-lg-2">Min<span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input class="form-control"  id="min" name="min" type="text" value="0.1" />
                      </div>
                    </div>

                     <div class="form-group ">
                      <label for="cname" class="control-label col-lg-2">Sec<span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input class="form-control"  id="sec" name="sec" type="text" value="0.1" />
                      </div>
                    </div>

                    <div class="form-group ">
                      <label for="cname" class="control-label col-lg-2">Start<span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input class="form-control"  id="start" name="start"  min="0" max="10" step="0.01" type="number"  value="0.00" />
                      </div>
                    </div>

                    <div class="form-group ">
                      <label for="cname" class="control-label col-lg-2">End<span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input class="form-control"  id="end" name="end" type="number"  min="0" max="10"  step="0.01" value="0.00" />
                      </div>
                    </div>
                   
                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-default" type="button">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </section>
          </div>
        </div>
        
        <!-- page end-->
      </section>
    </section>

    <script>
        function load(){
            vid = document.getElementById("vid");
             var min =  document.getElementById('min');
                var sec =  document.getElementById('sec');
            if(vid){
                console.log(vid.duration);
                var vidDuration = vid.duration.toString();
                 min.value = vidDuration.split('.')[0];
                 sec.value = vidDuration.split('.')[1];
            }else{
                 min.value = "0";
                 sec.value = "01"; 
            }
        }
        setTimeout(function(){
          load();
        },1000);
    </script>


   